body {
	background: #fbfdff;
}
.navbar-nav a {
	color: #7a818a;
	transition: 0.2s all;
}
.bg-light {
    background-color: white !important;
}
.navbar-nav a:hover {
	color: #2c7be5;
	transition: 0.2s all;
}
.navbar-nav .badge {
	margin-top: 3px;
}
.badge {
	font-weight: 600;
}
#main {
	max-width: 1400px;
	margin: auto;
}
.text-ligther {
	color: #c6c9dc;
}
#comments {
	display: none;
}

#okdatapicker {
    border-radius: 4px;
    right: 0;
    position: absolute;
    padding: 5px 15px;
    margin-top: 5px;
    box-shadow: 0 4px 12px rgba(0,0,0,.15);
}

#minMaxExample {
    padding: 10px;
    border-radius: .25rem;
    margin: 5px;
    border: 0;
    height: 35px;

}

#minMaxExample:focus {
    outline: none;
}

#attachbutton {
    background-color: #eaeaea;
}

#backbutton {
    background-color: #888e94;
    border: 0;
}

.btn-secondary{
    background-color: #888e94;
    border: 0;
}

.btn-secondary:hover{
    background-color: #6c757d;
}

.border-secondary{
    border-color: #888e94 !important;
}

.bg-secondary {
    background-color: #888e94 !important;
}

#backbutton:hover {
    background-color: #6c757d;
}

#cancel-icon-button{
    font-size: 15px;

}

#idtask:hover{
    text-decoration: none;
    color: #202429;
}

/*.noty2.custom2 {*/
/*    display: flex;*/
/*    background: #f7f7f7;*/
/*    height: 25px;*/
/*    position: relative;*/
/*    left: -9px;*/
/*    z-index: 2;*/
/*    padding-right: 0;*/
/*    width: 105px;*/
/*    border-radius: 5px;*/
/*}*/

.search-top-sidebar{

}

.br-8{
    border-radius: 8px;
}

.name-manager-tasks{
    width: max-content;
}

.icons-tasks{
    margin-left: 5rem;

}

.comment{
    margin: 5px;
    padding: 5px;
    color: rgba(0, 0, 0, 1);
}

.border-left{
    border-left: 5px solid !important;
    padding-left: 5px;
}

.tasks-list{
    height: 100px;
    padding: 0.8rem;
}

.tasks{
    border-radius: 8px;
}

.tasks:hover{
    background-color: #f7f7f7;
}

.date-status{
    right: 0;
    top: 0;
    margin: 0.8rem;
}

.comment.system{
    font-size: 0.75rem ;
    background-color: #f7f7f7 !important;
    margin: 5px;
    border-radius: 10px;
    padding: 2px;
    color: rgba(0, 0, 0, 1);
    margin-left: 25%;
}

.block-checkbox{
    display: inline-flex;
}

.center-checkbox {
    margin-top: 1rem;
}

input[type="checkbox"] {
    width: 50px;
    height: 25px;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: #b9b9b9;
    outline: none;
    border-radius: 50px;
    box-shadow: inset 0 0 5px rgba(0,0,0, .2);
    transition: 0.5s;
    position: relative;
}
input:checked[type="checkbox"] {
    background: #5d95db;
}
input[type="checkbox"]::before {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    top: 0;
    left: 0;
    background: #fff;
    transform: scale(1.1);
    box-shadow: 0 2px 5px rgba(0,0,0, .2);
    transition: 0.5s;
}
input:checked[type="checkbox"]::before {
    left: 25px;
}


#return-manager {
    color: white;
}

.btn-warning {
    color: white;
    background-color: #edc345;
    border-color: #edc345;
}

.bg-warning{
    background-color: #edc345 !important;
}

.border-warning{
    border-color: #edc345 !important;
}

.badge-warning{
    background-color: #edc345 !important;
    color: white;
}

.btn.btn-warning:hover{
    color: white;
}

.btn-primary{
    background-color: #5a93df;
    border-color: #5a93df;
}

.bg-primary{
    background-color: #5a93df !important;
}

.badge-primary{
    background-color: #5a93df !important;
}

.border-primary{
    border-color: #5a93df !important;
}

.bg-danger{
    background-color: #d4515d !important;
}

.btn-outline-danger{
    border: none;
    color: #d4515d;
}

.btn-outline-danger:hover{
    background-color: #d4515d;
}

.badge-danger{
    background-color: #d4515d !important;
}

.border-danger{
    border-color: #d4515d !important;
}

.bg-success{
    background-color: #93c259 !important;
}

.border-success{
    border-color: #93c259 !important;
}

.badge-success{
    background-color: #93c259 !important;
}

.btn-success{
    background-color: #93c259;
    border-color: #93c259;
}

.btn-success:hover{
    background-color: #83b258;
    border-color: #83b258;
}

.postpone-manager {
    background-color: #f7f7f7;
    display: block;
    margin: 5px;
    border-radius: 10px;
    padding: 15px;
    color: rgba(0, 0, 0, 1);
    font-weight: 500;
}

.fas.fa-check.custom-date.accept {
    color: #93c259 !important;
    margin-left: 5px;
    margin-top: 5px;
}

.fas.fa-times.custom-date.cancel {
    color: #d64c5e !important;
    margin-left: 13px;
}

.fas.fa-check.custom-date.accept:hover {
    text-shadow: 1px 1px 2px black, 0 0 1em #2da64d;
}

.fas.fa-times.custom-date.cancel:hover {
    text-shadow: 1px 1px 2px black, 0 0 1em #da3248;
}


.status-icon.rounded-circle.noty-m {
    border-radius: 100px;
    height: 30px;
    width: 30px;
    position: relative;
    margin: 0;
    padding: 0;
}

.far.fa-eye.custom {
    font-size: 25px;
    top: 5px;
    line-height: 30px;
}

.icon-title-status-bar {

}

.custom {
    font-size: 22px;
    top: 5px;
    line-height: 30px !important;
}

.custom-date {
    color: #898989;
    font-size: 25px;
}

.btn.btn-light.custom-date-button {
    padding: 4px 10px;
}

.btn-file {
    position: relative;
    overflow: hidden;
    top: 0;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    cursor: inherit;
    display: block;
}

.statustitle {
    list-style: none;
    padding: 0;
    border: 1px solid #aaa;
    background: #fff;
    margin-top: 30px;
    box-shadow: 2px 2px 15px rgba(0,0,0,.3);
    width: 300px;
    position: absolute;
    right: 10px;
    display: none;
}

.statustitle.active {
    display: block;
}

.far.fa-check-circle.custom {
    font-size: 25px;
    top: 5px;
    line-height: 30px;
}

.fas.fa-ban.custom {
    font-size: 25px;
    top: 5px;
    line-height: 30px;
}

.bg-custom-color {
    background-color: #b9b9b9;
}

.status-icon.rounded-circle.noty-m :focus{
    border-radius: 100px;
}

.status-icon.rounded-circle.noty-m ::after {
    content: ' ';
    width: 9px;
    position: absolute;
    right: -9px;
    top: 14px;
    border-bottom: 2px solid #c7c1c1;
}

.noty-m {
    font-size: 9px !important;
    color: #f7f7f7;
    padding: 3px;
    position: relative;
    width: 19px;
    display: inline-block;
    height: 19px;
    text-align: center;
    z-index: 3;
    background-color: #b9b9b9;
}

.status-icon-last.rounded-circle.noty-m {
    border-radius: 100px;
    height: 30px;
    width: 30px;
    position: relative;
    margin: 0;
    padding: 0;

}

.navbar-vertical {
	background: rgb(238,240,249);
	background: -moz-linear-gradient(-45deg, rgb(238,240,249) 0%, rgb(252,252,252) 100%);
	background: -webkit-linear-gradient(-45deg, rgb(238,240,249) 0%,rgb(252,252,252) 100%);
	background: linear-gradient(135deg, rgb(238,240,249) 0%,rgb(252,252,252) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eef0f9', endColorstr='#fcfcfc',GradientType=1 );
}
ul.navbar-nav {
	flex-direction: column !important;
}
a {
    color: #202429;
}
.user-pic .avatar-img {
    width: 85px;
    display: block;
    border: 3px solid white;
    box-shadow: 0 0.35rem 0.5rem rgba(18,38,63,.03);
    z-index: 3;
    position: relative;
}
.indy span {
    font-size: 12px;
}
.user-pic .progress {
    height: 12px;
    z-index: 9;
    font-size: 8px;
    width: 80%;
    padding-left: 0 !important;
    margin-top: 8px;
}
.level {
    font-size: 9px !important;
    color: white;
    border: 2px solid white;
    box-shadow: 0 0.35rem 0.5rem rgba(18,38,63,.03);
    padding: 4px;
    width: 25px;
    height: 25px;
    text-align: center;
    position: absolute;
    right: -2px;
    top: 1px;
    z-index: 4;
}
.noty {
    font-size: 9px !important;
    color: white;
    padding: 3px;
    position: relative;
    width: 19px;
    display: inline-block;
    height: 19px;
    text-align: center;
    z-index: 3;
}
.noty2 {
    background: #e7ecef;
    height: 19px;
    display: inline-block;
    position: relative;
    left: -10px;
    z-index: 2;
    padding-left: 13px;
    padding-right: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 32px;
}
#tasks th {
    border-bottom: 2px solid #dee2e6;
}
#tasks {
	border-bottom: none !important;
}
.card {
    border: none !important;
    box-shadow: 0 0.35rem 1.5rem rgba(18,38,63,.13);
    transition: 0.5s all;
}
.comin input {
	width: calc(100% - 44px); 
	display: inline-block;
}
.comin button {
	float: right; 
	width: 38px; 
	height: 38px;
	padding: 0;
}
#log .comment {
    background-color: #f2f2f4;
    border-radius: 5px;
    border-top-left-radius: 0;
    font-style: italic;
    font-weight: 100;
    font-size: 14px;
}
#task .comment p {
	padding-left: 50px;
}
#task .comment button {
    position: absolute;
    right: -45px;
    font-size: 10px;
    top: -7px;
}
#log {
    height: 300px;
    overflow-y: scroll;
    padding: 0 20px 0 0;
    margin-left: -10px;
}
#log::-webkit-scrollbar {
    display: none;
}
#log:before {
    content: ' ';
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    left: 14px;
    width: 2px;
    height: 90%;
    z-index: 300;
    bottom: 0;
}
ul.timeline {
    list-style-type: none;
    position: relative;
    margin-left: -20px;
}
ul.timeline:before {
    content: ' ';
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 300;
}
ul.timeline > li {
    margin: 20px 0;
    padding-left: 20px;
}
ul.timeline > li span.before {
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    left: 20px;
    width: 20px;
    color: white;
    height: 20px;
    z-index: 400;
    font-size: 11px;
    padding-top: 2px;
    text-align: center;
}
span.date {
    position: absolute;
    z-index: 400;
    right: 0;
    font-size: 11px;
    top: 0;
}
.avatar {
    vertical-align: middle;
    width: 30px;
    height: 30px;
    border-radius: 10%;
}
.anim-show {
	opacity: 0;
	transition: 1s;
	animation: show 1s 1;
	animation-fill-mode: forwards;
	animation-delay: 0s;
}
.collapse.in {
    display: none;
}

.done {
    display: block;
}

#f1 {
	display: flex !important;
}
.align-center {
	align-self: center !important;
}
#inwork .card-title {
	border-left: 5px solid;
    margin-left: -20px;
    padding-left: 14px;
}
#inwork h4 {
	margin-left: -2px;
}
#inwork h4 i {
	position: absolute;
    left: -25px;
}
#task h2 {
	border-left: 5px solid;
    margin-left: -20px;
    padding-left: 14px;
}
#tasks .card-title {
    border-left: 5px solid;
    margin-left: -11px;
    padding-left: 14px;
}
#task .tab-content {
	box-shadow: 0 0.35rem 1.5rem rgba(18,38,63,.13);
}
#task .nav-tabs {
	border-bottom: none;
}
#task .nav-tabs .nav-link {
	border: none;
}
@keyframes show{
	 0%{
		 opacity:0;
	 }
	 
	 
	 100% {
		 opacity:1;
	 }
}
#navbarNav .nav-link {
    padding-right: 0 !important;
    padding-left: 0 !important;
}
#inwork a:hover {
	text-decoration: none;
}
.pulse {
  display: block;
  box-shadow: 0 0 0 rgba(44, 123, 229, 0.4);
  animation: pulse 2s infinite;
}
.pulse:hover {
  animation: none;
}
@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(44, 123, 229, 0.4);
  }
  70% {
      -webkit-box-shadow: 0 0 0 10px rgba(44, 123, 229, 0);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba(44, 123, 229, 0);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(44, 123, 229, 0.4);
    box-shadow: 0 0 0 0 rgba(44, 123, 229, 0.4);
  }
  70% {
      -moz-box-shadow: 0 0 0 10px rgba(44, 123, 229, 0);
      box-shadow: 0 0 0 10px rgba(44, 123, 229, 0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(44, 123, 229, 0);
      box-shadow: 0 0 0 0 rgba(44, 123, 229, 0);
  }
}
@media (min-width:768px){
	.navbar-vertical.navbar-expand-md{
		position:fixed;
		top:0;
		bottom:0;
		display:block;
		overflow-y:auto;
		width:100%;
		max-width:250px;
		padding-right:1.5rem;
		padding-left:1.5rem;
		padding-top: 3rem;
	}
	.navblock {
		padding-right: 0 !important;
	}
	.navbar-vertical.navbar-expand-md>[class*=container] {
	    flex-direction: column;
	    min-height: 100%;
	    padding-right: 0;
	    padding-left: 0;
	    align-items: stretch;
	}
	.navbar-vertical.navbar-expand-md .navbar-nav .nav-link {
	    padding: .5rem 1.5rem .5rem 0;
	}
	.main-content {
	    margin-left: 250px;
	    padding: 30px 50px;
	}
	.navbar-vertical.navbar-expand-md .navbar-collapse {
	    display: flex;
	    flex-direction: column;
	    margin-right: -1.5rem;
	    margin-left: -1.5rem;
	    padding-right: 1.5rem;
	    padding-left: 1.5rem;
	    margin-top: 70px;
	    flex: 1 1;
	    align-items: stretch;
	}
	#workzone {
		padding: 0 20px;
	}
}