.partner-card {
    padding: 29px;
}

.partner-card img {
    max-width: 100%;
}

.partner-link {
    margin: 30px 0 0 0;
    font-weight: bold;
    background: #f7f7f7;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    line-height: 24px;
    padding: 24px 25px 24px 35px;
    letter-spacing: 0.04em;
    position: relative;
    text-align: center;
    height: 72px;
}

.partner-stat-name {
    font-weight: 100;
    color: #a2abb9;
    font-size: 14px;
}

.partner-stat-bonus {
    color: #28416b;
}

.partner-stat-number {
    font-size: 24px;
}

.copy-partner-link {
    position: absolute;
    right: 25px;
    top: 17px;
    transition: 200ms;
    font-size: 18px;
    color: #6c757da6;
    padding: 10px;
    background-color: #e4e4e4;
    border-radius: 50%;
    border: 1px solid #e2e2e2;
    width: 40px;
}

.copy-partner-link:hover {
    cursor: pointer;
    color: #5d95db;
    background-color: #f7f7f7;
}

.partner-icon {
    font-size: 20px;
    color: #4d71d8;
    margin-right: 5px;
}

.partner-progress {
    background: linear-gradient(180deg, rgba(112, 133, 254, 1) 0%, rgba(126, 123, 252, 1) 100%);
    box-shadow: rgba(125, 122, 239, 0.58) 0px 25px 30px -15px !important;
}

.partner-hr {
    margin: auto;
    position: absolute;
    top: 25%;
    left: 0;
    right: 0;
    width: 75%;
    background-color: #6d6bf5 !important;
    height: 2px;
}

.partner-hr .progress-bar {
    background: #ffffff;
}

.row-hr-partner:before {
    content: '';
    width: 50px;
    position: absolute;
    top: 25%;
    left: 0;
    border-bottom: 2px solid #ffffff;
}

.row-hr-partner:after {
    content: '';
    width: 50px;
    position: absolute;
    top: 25%;
    right: 0;
    border-bottom: 2px solid #6d6bf5;
}

.row-hr-partner .col {
    z-index: 1;
}

.dot-partner {
    font-size: 30px;
    z-index: 2;
    padding-left: 5px;
    padding-right: 5px;
    background: #787ffb;
}

.partner-progress-description {
    color: #ffffff;
}

.partner-mt {
    margin-top: 25%;
}

@media screen
and (max-width: 991px){
    .row-hr-partner .small span{
        display: none;
    }
}

@media screen
and (max-width: 768px) {
    .partner-card {
        padding: 0;
    }

    .partner-mt {
        margin-top: 0;
    }
}

@media screen
and (max-width: 576px){
    .row-hr-partner .col {
        padding: 0;
    }
}