.btn-edit-tariff{
    width: 32px;
    height: 32px;
}

.edit-tariff-block{
    position: absolute;
    right: 20px;
    top: 20px;
}

.btn-change-tariff{
    background-color: #fc767b;
    color: #ffffff;
    border: 0;
    border-radius: 20px;
    height: 50px;
    padding-left: 40px;
    padding-right: 40px;
    font-weight: 100;
    transition: 0.3s all;
    margin-top: 15px;
    box-shadow: 0 12px 15px rgba(14,21,47,.1);
}

.modal-dialog-tariff .flex-modal{
    display: flex;
}

.left-modal{
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.right-modal .modal-body.text-left{
    margin-left: 26px;
}

.right-modal{
    padding-top: 1.5rem;
}

.left-modal .modal-body.text-left{
}

.radio-body{
    padding-left: 2rem;
}

#wrongPromoModal .modal-dialog{
    max-width: 390px;
}

#refreshModal .modal-dialog{
    max-width: 390px;
}

#refreshModal .modal-footer{
    justify-content: space-between;
}

.dropdown .dropdown-menu .custom-date{
    width: 25px;
    text-align: center;
}

#paymentInfo .modal-footer{
    justify-content: center;
}

.oferta-field .oferta-link{
    text-decoration: underline;
}

.ml-mr-24px{
    margin-left: 24px;
    margin-right: 24px;
}

#deleteCardModal .modal-dialog{
    max-width: 390px;
}

#addCard{
    height: 38px;
}

#deleteCardModal .modal-footer{
    justify-content: space-between;
}

#pay {
    height: 50px;
    background: #7b81f9;
    border-radius: 20px;
}

#changeTariff{
    height: 50px;
    background: #7b81f9;
    border-radius: 20px;
}

.btn-change-tariff:hover {
    color: #ffffff;
    transition: 0.5s all;
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
    box-shadow: 0 17px 30px rgba(14,21,47,.3);
}

.btn-outline-change-tariff{
    border-color: #fc767b;
    color: #fc767b;
    border-radius: 20px;
    height: 50px;
    padding-left: 40px;
    padding-right: 40px;
    font-weight: 100;
    transition: 0.3s all;
    margin-top: 15px;
    box-shadow: 0 12px 15px rgba(14,21,47,.1);
}

.btn-outline-change-tariff:hover {
    color: #fc767b;
    transition: 0.5s all;
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
    box-shadow: 0 17px 30px rgba(14,21,47,.3);
}

.pure-material-radio:hover{
    cursor: pointer;
}

.pure-material-radio span {
    color: #28416b;
    font-weight: 700;
}

#tariffName{
    font-weight: 700;
}

.pure-material-radio {
    z-index: 0;
    position: relative;
    display: inline-block;
    color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.87);
    font-family: var(--pure-material-font, "Roboto", "Segoe UI", BlinkMacSystemFont, system-ui, -apple-system);
    font-size: 16px;
    line-height: 1.5;
}

/* Input */
.pure-material-radio > input {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    z-index: -1;
    position: absolute;
    left: -10px;
    top: -8px;
    display: block;
    margin: 0;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.6);
    outline: none;
    opacity: 0;
    transform: scale(1);
    pointer-events: none;
    transition: opacity 0.3s, transform 0.2s;
}

/* Span */
.pure-material-radio > span {
    display: inline-block;
    width: 100%;
    cursor: pointer;
}

/* Circle */
.pure-material-radio > span::before {
    content: "";
    display: inline-block;
    box-sizing: border-box;
    margin: 2px 10px 2px 0;
    border: solid 2px; /* Safari */
    border-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.6);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    vertical-align: top;
    transition: border-color 0.2s;
}

/* Check */
.pure-material-radio > span::after {
    content: "";
    display: block;
    position: absolute;
    top: 2px;
    left: 0;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background-color: rgb(var(--pure-material-primary-rgb, 33, 150, 243));
    transform: translate(5px, 5px) scale(0);
    transition: transform 0.2s;
}

/* Checked */
.pure-material-radio > input:checked {
    background-color: rgb(var(--pure-material-primary-rgb, 33, 150, 243));
}

.pure-material-radio > input:checked + span::before {
    border-color: rgb(var(--pure-material-primary-rgb, 33, 150, 243));
}

.pure-material-radio > input:checked + span::after {
    transform: translate(5px, 5px) scale(1);
}

/* Hover, Focus */
.pure-material-radio:hover > input {
    opacity: 0.04;
}

.pure-material-radio > input:focus {
    opacity: 0.12;
}

.pure-material-radio:hover > input:focus {
    opacity: 0.16;
}

/* Active */
.pure-material-radio > input:active {
    opacity: 1;
    transform: scale(0);
    transition: transform 0s, opacity 0s;
}

.pure-material-radio > input:active + span::before {
    border-color: rgb(var(--pure-material-primary-rgb, 33, 150, 243));
}

/* Disabled */
.pure-material-radio > input:disabled {
    opacity: 0;
}

.pure-material-radio > input:disabled + span {
    color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.38);
    cursor: initial;
}

.pure-material-radio > input:disabled + span::before {
    border-color: currentColor;
}

.pure-material-radio > input:disabled + span::after {
    background-color: currentColor;
}
