.fio-profile{
    font-size: 1.5rem;
}
.icon-edit-profile{
    position: absolute;
    right: 25px;
    top: 20px;
}
.edit-profile {
    font-size: 15px;
    color: #e3e5e9;
    margin-left: 1%;
}
.edit-profile:hover {
    color: #5d95db;
}
.online-indicator-profile{
    position: absolute;
    top: 4px;
    right: 13px;
    z-index: 3;
}
.all-achieve{
    display: none;
    right: 15px;
    top: 3px;
}
.text-about-profile:last-of-type{
    margin-bottom: 0 !important;
}
.text-about-profile{
    margin-bottom: 1rem;
}