#createReport, #createReportDisabled{
    border-radius: 20px;
    padding-top: 9px;
    padding-bottom: 9px;
}
.create-report::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 2px;
    top: 50%;
    width: 100%;
    z-index: 1;
    border-top: 1px solid rgba(0, 0, 0, .1);
}
.text-color-new{
    color: #28416b;
}
.reportIcon {
    border-radius: 50%;
    text-align: center;
    width: 40px;
    height: 40px;
    line-height: 2.6;
    position: relative;
}
.report-task-text{
    vertical-align: -25%;
}
.text-statistic{
    display: inline-block;
    min-width: 29px;
}
.task-report{
    padding-left: 1.5rem;
}
.right-report{
    border-left: 1px solid #e4e4e4;
}
.count-info-reports {
    margin-left: 20%;
    line-height: 15px;
    margin-top: 5px;
}
.count-tasks-reports{
    color: #28416b;
    font-weight: 400;
    margin-left: 20%;
}
.count-info-reports-content{
    color: #28416b;
}
.card-body-reports {
    padding: 15px 30px !important;
    border-radius: 12px !important;
}
#scrollAnchor, .tasks-reports-container .label-tasknew {
    font-weight: 700;
    font-size: 18px;
}
#reportsContainer .card-body-reports {
    padding: 0px 30px 15px 30px !important;
}
#reportsContainer .avatar-added {
    margin-top: -5px;
    margin-bottom: 0;
}
.card-body-reports h5 {
    color: #28416b;
    font-weight: 700;
    margin-top: 35px;
}
.input-reports{
    color: #c2c2c4;
}
.text-reports{
    color: #a8b1be !important;
}
.text-reports span{
    color: #a8b1be !important;
    font-weight: 600;
}
.worker-name-reports {
    font-weight: 700;
}

.text-reports .col-4 span {
    padding-left: 52px;
}
#workerBlockReports .responsible{
    top: 50px !important;
}

.select-report:hover {
    color: #444;
    background-color: #f2f2f2;
    cursor: pointer;
}

.select-report:hover .icon-change-responsible{
    color: #5d95db;
}

.select-report {
    padding: 7px;
    transition: 200ms;
}

.add-report{
    border-radius: 0 !important;
}

.container-report:hover .icon-change-report{
    background-color: #f8f9fa;
    cursor: pointer;
}

.container-report{
    cursor: pointer;
}

.report-select{
    overflow-y: scroll;
    overflow-x: hidden;
    height: auto;
    display: none;
    width: calc(100%);
    background-color: #fff;
    color: black;
    text-align: center;
    border-radius: 6px;
    position: absolute;
    z-index: 2;
    right: 0px;
    top: 50px;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, .1);
    padding: 0;

    -ms-overflow-style: none !important;
    scrollbar-width: none !important;
}

.report-select::-webkit-scrollbar{
    width: 0 !important;
    background: transparent !important;
    display: none !important;
    -ms-overflow-style: none !important;
    scrollbar-width: none !important;
}

.container-report.disabled{
    background-color: #f8f8f8;
    cursor: default !important;
}