.file-list .fa-circle {
    font-size: 5px;
    vertical-align: middle;
    line-height: 2;
}

.file-list {
    padding: 0.8rem;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    border-bottom-color: rgba(0, 0, 0, 0.1);
}

.files:last-of-type .file-list {
    padding: 0.8rem;
    border-bottom: 0;
}

.iconFiles {
    top: 0.3rem;
}

.deleteFile{
    display: none;
}

.file-list:hover > .deleteFile{
    display: block;
}
.file-width-storage{
    max-width:90% !important;
}

.files .file-list .deleteFile {
    right: 5px;
    top: 0;
    z-index: 10;
}

