#name {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

#editor {
    background-color: white;
    height: 250px;
    border-radius: 12px;
}

#createTask {
    border-radius: 20px;
    padding-top: 9px;
    padding-bottom: 9px;
}

.create-task {
    text-align: -webkit-center;
}

.coworkers-newtask {
    margin-bottom: 1rem;
}

.subtask-selected{
    transition: 100ms;
}

.subtask-selected:hover{
    background-color: rgba(188, 0, 0, 0.1);
}

.tooltip-free{
    color: #c2c2c4;
}
.tooltip-free:hover{
    color: #28416b;
}

.mt-25-tasknew .responsible{
    overflow-y: scroll;
    overflow-x: hidden;
    top: 125px !important;
    height: auto;
    max-height: 300px;
    z-index: 4 !important;

    -ms-overflow-style: none !important;
    scrollbar-width: none !important;
}

.mt-25-tasknew .responsible::-webkit-scrollbar{
    width: 0 !important;
    background: transparent !important;
    display: none !important;
    -ms-overflow-style: none !important;
    scrollbar-width: none !important;
}

#name{
    color: #353b41 !important;
}

.mt-25-tasknew .coworkers{
    overflow-y: scroll;
    overflow-x: hidden;
    top: 230px !important;
    height: auto;
    max-height: 300px;
    z-index: 4 !important;

    -ms-overflow-style: none !important;
    scrollbar-width: none !important;
}

.mt-25-tasknew .coworkers::-webkit-scrollbar{
    width: 0 !important;
    background: transparent !important;
    display: none !important;
    -ms-overflow-style: none !important;
    scrollbar-width: none !important;
}

.editor-card {
    border-radius: 12px !important;
}

.ql-toolbar {
    border: none !important;
    padding: 20px 22px !important;
    padding-bottom: 15px !important;
}

.ql-toolbar span {
    color: #c2c2c4;
}

.ql-toolbar .ql-fill {
    fill: #c2c2c4 !important;
}

.ql-toolbar .ql-stroke {
    stroke: #c2c2c4 !important;
}

.ql-editor {
    padding: 20px 30px !important;
    margin-top: 6px;
    height: 240px !important;
}

.ql-editor::before {
    padding-left: 16px !important;
    color: #c2c2c4 !important;
    font-weight: 300;
    font-size: 14px;
    font-style: unset !important;
}

.ql-editor:after {
    position: absolute;
    top: 4px;
    width: 88.5%;
    border-top: 1px solid #c2c2c4;
    content: "";
}

.label-tasknew {
    padding-left: 30px;
    margin-bottom: 13px;
    color: #28416b;
    font-size: 16px;
    font-weight: 600;
}

.card-tasknew .card-coworker{
    color: #353b41 !important;
}

.select-subtask:hover .icon-change-responsible{
    color: #5d95db;
}

.add-subtask{
    border-radius: 0 !important;
}

.card-tasknew .coworker-fio{
    color: #353b41 !important;
}

.card-tasknew .icon-newtask-delete-coworker{
    position: absolute;
    right: -12px;
    top: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 5px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

.container-subtask:hover .icon-newtask-change-subtask{
    background-color: #f8f9fa;
    cursor: pointer;
}

.subtask{
    overflow-y: scroll;
    overflow-x: hidden;
    height: auto;
    max-height: 265px;
    display: none;
    width: calc(100%);
    background-color: #fff;
    color: black;
    text-align: center;
    border-radius: 6px;
    position: absolute;
    z-index: 2;
    right: 0px;
    top:50px;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, .1);
    padding: 0;

    -ms-overflow-style: none !important;
    scrollbar-width: none !important;
}

.subtask::-webkit-scrollbar{
    width: 0 !important;
    background: transparent !important;
    display: none !important;
    -ms-overflow-style: none !important;
    scrollbar-width: none !important;
}

.container-subtask.disabled{
    background-color: #f8f8f8;
    cursor: default !important;
}

.card-tasknew .form-control:disabled, .form-control[readonly]{
    background-color: #f8f8f8;
}

.card-tasknew .custom-select:disabled{
    background-color: #f8f8f8;
}

.card-tasknew .add-worker:hover .icon-newtask-delete-coworker{
    background: #f2f2f2;
}

.card-tasknew .add-worker{
    width: 100%;
}

#name::placeholder {
    color: #c2c2c4;
}

#checklistInput::placeholder {
    color: #c2c2c4;
}

.mt-25-tasknew {
    margin-top: 25px;
}

.card-tasknew {
    background-color: #ffffff;
    border-radius: 12px !important;
}

.card-body-tasknew {
    padding: 15px 30px !important;
    border-radius: 12px !important;
    color: #c2c2c4
}

.container-responsible:hover .icon-newtask {
    background-color: #f8f9fa;
}

.container-coworker:hover .icon-newtask {
    background-color: #f8f9fa;
}

.additional-func {
    z-index: 2;
    position: relative;
}

.additional-func span {
    background: #fcfcfc;
    padding: 0 5%;
    color: #a2a5ac;
}

.other-func:hover span {
    color: #2b3043;
    cursor: pointer;
}

.icon-newtask-add-coworker {
    top: 0 !important;
    right: -15px !important;
}

.card-tasknew .placeholder-coworkers {
    display: inline !important;
}

#startDate{
    height: 50px;
    font-size: 14px;
}

.card-tasknew .add-worker {
    margin-bottom: 7px;
}

.card-tasknew-minheight{
    min-height: 87.8%;
}

#addChecklistBtn{
    top: 13px;
}

.createTask-row{
    margin-top: 50px;
}

.mt-25-tasknew .spinner-border{
    color: #28416b;
}

.pl-20-tasknew{
    padding-left: 20px;
}

.mt-25-tasknew .file-name.container-files {
    padding-left: 30px;
}

#addChecklistBtn .fa-plus{
    font-size: 15px;
    color: #c2c2c4;
    transition: 200ms
}

#startDate{
    height: 50px;
    font-size: 14px;
}

#checklistInput{
    height: 50px;
}

#checklistInput{
    height: 50px;
}

.card-tasknew-minheight .container-responsible{
    min-height: 38px;
    padding-top: 10px;
}

.coworkers-toggle.container.container-coworker.border-0.d-flex.flex-wrap.align-content-sm-stretch.card-body-tasknew{
    padding-top: 10px;
}

.container.container-subtask.border-0.d-flex.flex-wrap.align-content-sm-stretch.card-body-tasknew{
    height: 50px;
    padding-top: 13px !important;
}
.container.container-subtask.border-0.d-flex.flex-wrap.align-content-sm-stretch.card-body-tasknew.disabled{
    height: 50px;
    padding-top: 13px !important;
}

.card-body-tasknew:focus {
    box-shadow: none !important;
}

.add-worker > .icon-newtask-delete-coworker {
    color: rgba(188, 0, 0, 0.51);
}

.other-func:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 2px;
    top: 50%;
    width: 100%;
    z-index: 1;
    border-top: 1px solid rgba(0, 0, 0, .1);
}

.label-responsible {
    padding-left: 30px;
    padding-top: 20px;
    margin-bottom: 0;
    color: #a2a5ac;
}

.check-list-container{
    display: none;
}

#checklistInput{
    color: #353b41 !important;
}

.disabledBtnOptions{
    background-color: #000;
    width: 100%;
    bottom: 0;
    height: 100%;
    z-index: 100;
    opacity: 0;
}

.mt-13px{
    margin-top: 13px;
}

.delete-checklist-item{
    transition: 200ms;
    position: absolute;
    right: -17px;
    bottom: -6px;
    padding: 10px 13px;
    border-radius: 50%;
    color: rgba(188, 0, 0, 0.51);
}

.delete-checklist-item:hover{
    background-color: rgba(212, 74, 95, 0.31);
    cursor: pointer;
}

.btn-file-tasknew:hover {
    color: #727272 !important;
}

.btn-file-tasknew:hover .icon-paperclip-newtask {
    color: #727272;
}

.icon-paperclip-newtask {
    transition: 150ms;
}

.ql-snow.ql-toolbar button:hover .ql-stroke, .ql-snow .ql-toolbar button:hover .ql-stroke, .ql-snow.ql-toolbar button:focus .ql-stroke, .ql-snow .ql-toolbar button:focus .ql-stroke, .ql-snow.ql-toolbar button.ql-active .ql-stroke, .ql-snow .ql-toolbar button.ql-active .ql-stroke, .ql-snow.ql-toolbar .ql-picker-label:hover .ql-stroke, .ql-snow .ql-toolbar .ql-picker-label:hover .ql-stroke, .ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-stroke, .ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-stroke, .ql-snow.ql-toolbar .ql-picker-item:hover .ql-stroke, .ql-snow .ql-toolbar .ql-picker-item:hover .ql-stroke, .ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-stroke, .ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-stroke, .ql-snow.ql-toolbar button:hover .ql-stroke-miter, .ql-snow .ql-toolbar button:hover .ql-stroke-miter, .ql-snow.ql-toolbar button:focus .ql-stroke-miter, .ql-snow .ql-toolbar button:focus .ql-stroke-miter, .ql-snow.ql-toolbar button.ql-active .ql-stroke-miter, .ql-snow .ql-toolbar button.ql-active .ql-stroke-miter, .ql-snow.ql-toolbar .ql-picker-label:hover .ql-stroke-miter, .ql-snow .ql-toolbar .ql-picker-label:hover .ql-stroke-miter, .ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-stroke-miter, .ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-stroke-miter, .ql-snow.ql-toolbar .ql-picker-item:hover .ql-stroke-miter, .ql-snow .ql-toolbar .ql-picker-item:hover .ql-stroke-miter, .ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-stroke-miter, .ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-stroke-miter {
    stroke: #06c !important;
}

.ql-snow.ql-toolbar button:hover .ql-fill, .ql-snow .ql-toolbar button:hover .ql-fill, .ql-snow.ql-toolbar button:focus .ql-fill, .ql-snow .ql-toolbar button:focus .ql-fill, .ql-snow.ql-toolbar button.ql-active .ql-fill, .ql-snow .ql-toolbar button.ql-active .ql-fill, .ql-snow.ql-toolbar .ql-picker-label:hover .ql-fill, .ql-snow .ql-toolbar .ql-picker-label:hover .ql-fill, .ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-fill, .ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-fill, .ql-snow.ql-toolbar .ql-picker-item:hover .ql-fill, .ql-snow .ql-toolbar .ql-picker-item:hover .ql-fill, .ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-fill, .ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-fill, .ql-snow.ql-toolbar button:hover .ql-stroke.ql-fill, .ql-snow .ql-toolbar button:hover .ql-stroke.ql-fill, .ql-snow.ql-toolbar button:focus .ql-stroke.ql-fill, .ql-snow .ql-toolbar button:focus .ql-stroke.ql-fill, .ql-snow.ql-toolbar button.ql-active .ql-stroke.ql-fill, .ql-snow .ql-toolbar button.ql-active .ql-stroke.ql-fill, .ql-snow.ql-toolbar .ql-picker-label:hover .ql-stroke.ql-fill, .ql-snow .ql-toolbar .ql-picker-label:hover .ql-stroke.ql-fill, .ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-stroke.ql-fill, .ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-stroke.ql-fill, .ql-snow.ql-toolbar .ql-picker-item:hover .ql-stroke.ql-fill, .ql-snow .ql-toolbar .ql-picker-item:hover .ql-stroke.ql-fill, .ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-stroke.ql-fill, .ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-stroke.ql-fill {
    fill: #06c !important;
}