#task .card-body {
    padding: 2rem 3rem;
}

.deadline-block-progress {
    height: 30px;
    font-size: 14px;
    z-index: 1;
}

.container-members-responsible-selected.coworkers-list{
    background-color: #ffffff !important;
}

.deadline-block:hover {
    cursor: pointer;
}

.subTaskInList .taskname{
    padding-left: 35px;
    font-weight: 600;
    color: #353b41;
}

.display-none{
    display: none;
}

#name{
    height: 50px;
}

#datedone{
    height: 50px;
    font-size: 14px;
}

#comin {
    padding-right: 45px;
}

#backbutton{
    height: 38px;
}

.col-md-4 #log .timeline{
    bottom: -300px;
}

#log #eventBox{
    bottom: 0px;
}

.deadline-block:hover .date-inside span {
    border-bottom: 1px dashed grey;
}

.send-mes-tooltip-body{
    font-size: 13px;
}

#spinnerModal .modal-content{
    margin-top: 60%;
    background-color: transparent;
}

#spinnerModal .spinner-border{
    width: 3rem;
    height: 3rem;
    color: #f2f2f2;
}

.deadline-block:hover .edit {
    right: -23px;
    transition: 0.3s;
}

.card-footer-subtask{
    padding: 0.8rem;
}

.card-footer-subtask .d-block{
    height: 24px;
}

.edit {
    transition: 0.5s;
    right: 6px;
    top: 1px;
    height: 28px;
    color: white;
    background: grey;
    padding: 2px 5px 2px 15px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

#change-date {
    display: none;
    width: 300px;
    background-color: #fff;
    color: black;
    text-align: center;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    left: 3%;
    margin-left: -4px;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, .3);
    padding: 0;
}

.members-block {
    position: relative;
    z-index: 2;
    background-color: white;
    border-radius: 8px;
}



.member-block:hover .edit-members {
    right: -13px;
    transition: 300ms;
}

.edit-members {
    transition: 0.5s;
    right: 17px;
    top: 0;
    height: 30px;
    color: white;
    background: grey;
    padding: 4px 2px 2px 15px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

.postpone-manager {
    background-color: #f7f7f7;
    display: block;
    border-radius: 10px;
    padding: 15px;
    color: rgba(0, 0, 0, 1);
    font-weight: 500;
}

#comments {
    display: none;
}

.comment {
    border-radius: 8px;
}

.subtask-status{
    color: #5E5E5E;
}

.icon-checklist-task{
    transition: 200ms;
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    color: #999999;
}

#checklistInput.disabled {
    background-color: #f8f8f8;
    cursor: default !important;
}

.icon-checklist-task:hover{
    background-color: #f8f9fa;
    cursor: pointer;
}

#nameTask:hover .icon-checklist-task{
    background-color: #f8f9fa;
    cursor: pointer;
}

#nameTask{
    width: fit-content;
    width: -moz-fit-content;
}

#nameTask{
    cursor: pointer;
}

.comment.system {
    font-size: 0.75rem;
    background-color: #f7f7f7 !important;
    margin: 5px;
    border-radius: 10px;
    padding: 2px;
    color: rgba(0, 0, 0, 1);
    margin-left: auto;
    margin-right: auto;
    color: #c6c9db;
}

#task .comment button {
    position: absolute;
    right: -25px;
    font-size: 10px;
    top: -11px;
}

.change-plan-date{
    vertical-align: middle;
    width: 30%;
    display: inline-block;
}

.comin .btn-file:hover{
    background-color: #f2f2f2;
}

.comin .btn-file:active{
    background-color: #e4e4e4;
}

.comin .btn-file {
    background-color: #fff;
    border: none !important;
}

.avatar-subtask-task{
}


.pure-material-checkbox {
    width: fit-content;
    width: -moz-fit-content;
    z-index: 0;
    position: relative;
    display: inline-block;
    color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.87);
    font-family: var(--pure-material-font, "Roboto", "Segoe UI", BlinkMacSystemFont, system-ui, -apple-system);
    font-size: 16px;
    line-height: 1.5;
}

/* Input */
.pure-material-checkbox > input {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    z-index: -1;
    position: absolute;
    left: -10px;
    top: -8px;
    display: block;
    margin: 0;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.6);
    box-shadow: none;
    outline: none;
    opacity: 0;
    transform: scale(1);
    pointer-events: none;
    transition: opacity 0.3s, transform 0.2s;
}

/* Span */
.pure-material-checkbox > span {
    display: inline-block;
    width: 100%;
    cursor: pointer;
}

/* Box */
.pure-material-checkbox > span::before {
    content: "";
    display: inline-block;
    box-sizing: border-box;
    margin: 3px 11px 3px 1px;
    border: solid 2px; /* Safari */
    border-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.6);
    border-radius: 2px;
    width: 18px;
    height: 18px;
    vertical-align: top;
    transition: border-color 0.2s, background-color 0.2s;
}

/* Checkmark */
.pure-material-checkbox > span::after {
    content: "";
    display: block;
    position: absolute;
    top: 3px;
    left: 2px;
    width: 11px;
    height: 6px;
    border: solid 2px transparent;
    border-right: none;
    border-top: none;
    transform: translate(3px, 4px) rotate(-45deg);
}

/* Checked, Indeterminate */
.pure-material-checkbox > input:checked,
.pure-material-checkbox > input:indeterminate {
    background-color: rgb(var(--pure-material-primary-rgb, 33, 150, 243));
}

/*.pure-material-checkbox > input:checked + span{*/
/*    text-decoration: line-through;*/
/*    color: #999999;*/
/*}*/

.pure-material-checkbox > input:checked + span::before,
.pure-material-checkbox > input:indeterminate + span::before {
    border-color: rgb(var(--pure-material-primary-rgb, 33, 150, 243));
    background-color: rgb(var(--pure-material-primary-rgb, 33, 150, 243));
}

.pure-material-checkbox > input:checked + span::after,
.pure-material-checkbox > input:indeterminate + span::after {
    border-color: rgb(var(--pure-material-onprimary-rgb, 255, 255, 255));
}

.status-icon .fas.fa-bolt.custom{
    margin-left: 1px;
}

.pure-material-checkbox > input:indeterminate + span::after {
    border-left: none;
    transform: translate(4px, 3px);
}

/* Hover, Focus */
.pure-material-checkbox:hover > input {
    opacity: 0.04;
}

.pure-material-checkbox > input:focus {
    opacity: 0;
}

.pure-material-checkbox:hover > input:focus {
    opacity: 0.16;
}

/* Active */
.pure-material-checkbox > input:active {
    opacity: 1;
    transform: scale(0);
    transition: transform 0s, opacity 0s;
}

.pure-material-checkbox > input:active + span::before {
    border-color: rgb(var(--pure-material-primary-rgb, 33, 150, 243));
}

.pure-material-checkbox > input:checked:active + span::before {
    border-color: transparent;
    background-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.6);
}

/* Disabled */
.pure-material-checkbox > input:disabled {
    opacity: 0;
}

.pure-material-checkbox > input:disabled + span {
    color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.38);
    cursor: initial;
}

.pure-material-checkbox > input:disabled + span::before {
    border-color: currentColor;
}

.pure-material-checkbox > input:checked:disabled + span::before,
.pure-material-checkbox > input:indeterminate:disabled + span::before {
    border-color: transparent;
    background-color: currentColor;
}
