#name {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
#editor {
    background-color: white;
    height: 160px;
}
#createTask {
    width: 80%;
}
.create-task {
    text-align: -webkit-center;
}
.coworkers-newtask{
    margin-bottom: 1rem;
}